body {
    text-align: center;
}

.btns {
    text-align: center;
}

.btn {
    padding: 10px 30px;
    margin: 5px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.2s;
}

.btn:focus {
    outline: 0;
}

#catsBtn {
    background-color: #fff;
    color: #FFA1B5;
    border: 1px solid #FFA1B5;
}

#catsBtn:hover {
    color: #FFF;
    background-color: #FFA1B5;
}

#dogsBtn {
    background-color: #fff;
    color: #86C7F3;
    border: 1px solid #86C7F3;
}

#dogsBtn:hover {
    color: #FFF;
    background-color: #86C7F3;
}