body {
    text-align: center;
}

.btns {
    text-align: center;
}

.btn {
    padding: 10px 30px;
    margin: 5px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.2s;
}

.btn:focus {
    outline: 0;
}

#catsBtn {
    background-color: #fff;
    color: #ee5253;
    border: 1px solid #ee5253;
}

#catsBtn:hover {
    color: #FFF;
    background-color: #ee5253;
}

#dogsBtn {
    background-color: #fff;
    color: #10ac84;
    border: 1px solid #10ac84;
}

#dogsBtn:hover {
    color: #FFF;
    background-color: #10ac84;
}

#results {
    text-align: center;
}

.resultsText {
    font-size: 6em;
    font-weight: 200;
    color: #576574;
}

#catVotes {
    color: #ee5253;
}

#dogVotes {
    color: #10ac84;
}